.img{
    outline: solid rgb(125, 148, 141);
    background-color: rgb(125, 148, 141);
    width: fit-content;
    height: fit-content;
}

.title{
    background-color: rgba(2, 2, 2, 0.664);
    width: inherit;
    height: 100px;
    border: 0cm;
}

#sub{
    border-top: 5px solid rgba(21, 97, 74, 0.616);
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.pag{
    background-color: rgba(2, 2, 2, 0.664);
    border: 20px solid rgba(2, 2, 2, 0.363);
    border-radius: 20px;
    margin: 100px;
    width: inherit;
}

.rct{
    width: 800px;
}